<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th class="text-center">Quarter</th>
        <th class="text-center">Monthly</th>
        <th class="text-center">Complaints</th>
        <th class="text-center">Units Sold</th>
        <th class="text-center">CPMU</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of _postsArray ">
        <td class="text-center" style="width: 15px;">{{post.Quarter}}</td>
        <td class="text-center" style="width: 15px;">{{post.Month}}</td>
        <td class="text-center" style="width: 15px;">{{post.Complaints}}</td>
        <td class="text-center" style="width: 15px;">{{post.UnitsSold}}</td>
        <td class="text-center" style="width: 15px;">{{post.CPMU}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
