/*=======================
   TERMINAL
=======================*/
// Terminal Window
.Complaints__Terminal-window {
    background-color: rgba(25,25,25,0.8);
    border: solid 1px rgba(255, 255, 255, 0.4   );
    box-shadow: 5px 5px 5px rgba(25,25,25,0.5);
    padding: 1rem 5rem;
    width: max-content;
    margin: auto;
    border-radius: 5px;
    td {
        padding: 5px;
    }
    th {
        font-size: 1.2rem;
    }
}

// Quarter Column
.quarterColumn { width: 5rem; text-align: center; }
// CPMU Column
.cpmuColumn { width: 4rem; text-align: center; }
// Month Label
#monthLabel { width: 6rem; }
// CPMU Label
#cpmuLabel {}

/*=======================
   FOOTER
=======================*/
// Complaints Footer Container
.Complaints__Footer {
    display: flex;
    justify-content: center;
    text-align: center;
    a {
        color: rgb(106, 200, 236);
        text-decoration: none;
        
        &:hover {
            color: white;
            transition: ease-in-out 0.5s;
            text-decoration: underline;
        }
    }
}