<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-inverse">
      <tr style="display: flex; justify-content: center;">
        <th class="text-center">Quarter</th>
        <th class="text-center">CPMU</th>
      </tr>
      </thead>
      <tbody style="display: flex; justify-content: center; flex-flow: column; align-items: center;">
      <tr *ngFor="let post of _quarterlyArray ">
        <td class="text-center" style="width: 15px;">{{post.Quarter}}</td>
        <td class="text-center" style="width: 15px;">{{post.CPMU}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
