/*=======================
   General
=======================*/
// App Header
h3 {
  text-shadow: 2px 3px 5px rgba(25,25,25,0.5);
}

.CPMU__container {
  text-align: center;
  padding: 3rem 0;
}

//S4RB Logo
#s4rb {
  width: 10rem;
}
